# Directories to ignore
**/archive/
**/deprecated/
**/outputs/
**/scenario_reduction_tmp/
**/tmp/
.github/workflows/inactive
inputs/backup_calcs
test/norun



# File extensions to ignore
*.db
*.png
*.so
*.swp
*.toml
*.xlsx
/*.csv



# Specific filenames/filename patterns to ignore
__pycache__
*\~\$*
precompile.jl
*cplex*
**/*repDays*.csv
*logfile*
