__pycache__
*.swp
*.png
deprecated/*
data/*.csv
run.py
simplified_*
market.yml
*.so
*.db
precompile.jl
*cplex*
*\~\$*
*outputs*.xlsx
*RTM*
outputs/*
*.toml
copies/
inputs/deprecated
inputs/ALEAF_inputs/backups
inputs/ALEAF_inputs/scenario_reduction_tmp
/*.csv
repDays*.csv
tmp/
archive/
