__pycache__
*.swp
*.png
deprecated/*
data/*.csv
simplified_*
market.yml
*.so
*.db
precompile.jl
*cplex*
*\~\$*
*outputs*.xlsx
*RTM*
outputs/*
*.toml
copies/
inputs/deprecated
inputs/ALEAF_inputs/backups
inputs/ALEAF_inputs/scenario_reduction_tmp
inputs/ts_data/scenario_reduction_tmp
/*.csv
repDays*.csv
tmp/
archive/
inputs/backup_calcs
inputs/ERCOT_inputs
inputs/IL_inputs
inputs/C2N_inputs
test/norun
.github/workflows/inactive
