simulation:
  scenario_name: "baseline"
  solver: "CPLEX"
  num_steps: 1
  file_logging_level: 0  # 0: no additional csvs saved; 1: all additional csvs saved
                         # caution! enabling file logging with 365 repdays can require 200GB+ of storage
  C2N_assumption: baseline

scenario:
  peak_demand: 80000
  policies:
    CTAX:
      enabled: False
      qty: 0  # $/t CO2
    PTC_all_techs:
      enabled: True
      eligibility:
        unit_type:
          - wind
          - solar
      start_year: -5  # earliest eligible year for construction start (absolute, inclusive)
      end_year: 9    # latest eligible year for construction start (absolute, inclusive)
      duration: 10  # number of in-service years for which eligible units receive the credit
      qty: 27.5   # $/MWh
    PTC_existing_nuclear:
      enabled: True
      eligibility:
        unit_type:
          - conventional_nuclear
      start_year: -100
      end_year: 100
      duration: 50
      qty: 10
    ITC:
      enabled: True
      eligibility:
        unit_type:
          - PWR_C2N0_single
          - PWR_C2N1_single
          - HTGR_C2N0_single
          - HTGR_C2N2_single
          - SFR_C2N0_single
          - SFR_C2N3_single
      start_year: 0  # earliest eligible year for construction start (absolute, inclusive)
      end_year: 9    # latest eligible year for construction start (absolute, inclusive)
      qty: 0.4   # Specify as a fraction (between 0 and 1)

  allowed_xtr_types:
    - wind
    - solar
    - ngcc
    - ngct
    - advanced_nuclear
    - PWR_C2N0_single
    - PWR_C2N1_single
    - HTGR_C2N0_single
    - HTGR_C2N2_single
    - SFR_C2N0_single
    - SFR_C2N3_single


#######################################################
#  Advanced settings
#######################################################

# Various constants: should never be updated!
constants:
  first_asset_id: 2001
  vis_lvl: 45   # sets the logging level for bare visual elements
  large_epsilon: 1.0
  time_before_start: -1
  distant_time: 9999
  big_number: 999999
  MW2kW: 1000   # converts MW to kW

# File paths and filenames
file_paths:
  ABCE_sysimage_file: "abceSysimage.so"
  db_file: "abce_db.db"
  demand_data_file: "demand_data_baseline_70y.csv"
#  agent_specifications_file: "single_agent_testing.yml"
#  agent_specifications_file: "agent_specifications.yml"
  agent_specifications_file: "2a1b.yml"
  output_file: "outputs.xlsx"
  output_logging_dir: "/groupspace/cnerg/users/kebiegel/abce_outputs"
  timeseries_data_dir: "ts_data"
  unit_specs_data_file: "unit_specs.yml"
  logo: "abce.txt"

# Modeled grid system settings which are unlikely to change frequently
system:
  price_cap: 9000
  AS_price_cap: 1000
  tax_rate: 0.21
  planning_reserve_margin: 0.03  # 1 + PRM = total target capacity
  peak_initial_reserves: 0.0
  tax_credits_discount: 0.1

# Settings for demand projections
demand:
  demand_visibility_horizon: 5
  demand_projection_mode: exp_termrate     # flat, exp_fitted, or exp_termrate
  demand_projection_window: 5 # Total number of periods used to project demand
  historical_demand_growth_rate: 0.01
  terminal_demand_growth_rate: 0.01  # Exponential growth rate of demand

# Settings for the agents' internal dispatch simulator and handling of
#   dispatch data
dispatch:
  num_dispatch_years: 10  # Num. of years to explicitly simulate dispatch
  downselection: exact
  num_repdays: 365
  annual_dispatch_subperiod: 30   # Number of days per annual dispatch subperiod
  ASNS_penalty_ratio: 0.08  # Relative to an ENS penalty value of 1
  rns_subpenalty: 4
  sns_subpenalty: 5
  nsns_subpenalty: 2
  gamma_reg: .8
  gamma_spin: .8
  gamma_nspin: 0.2

# Settings for agent behavior optimization
agent_opt:
  num_future_periods_considered: 2    # Number of periods for which to consider future projects
  max_type_rets_per_pd: 3
  max_type_newcap_per_pd: 1100
  shortage_protection_period: 8
  cap_decrease_threshold: 1.0
  cap_decrease_margin: -0.08
  cap_maintain_margin: -0.03
  profit_lambda: 1.0          # Note: only the ratio between the lambdas matters
  credit_rating_lambda: 1.0
  fin_metric_horizon: 4
  fcf_debt_floor: 0.16   # weighted sum limit
  re_debt_floor: 0.115   # weighted sum limit
  icr_solo_floor: 0.0   # individual

financing:
  default_debt_term: 30
  depreciation_horizon: 20
  starting_instrument_id: 1000

